.navbarItem{
    margin:10px;
    color:grey;
}

.navLink:hover .navbarItem{
    color:#007bff;
}
.navLink:hover{
    background-color:#F8F8F8;
    color: #007bff;
}
.navLink{
    margin-left: 30px;
    color:grey;
}